In [1]:
#below example is of stcok prices of few companies
#we are creating a list of tuples- reread, don't get confused
stock_prices = [('APPL',200),('GOOG',100),('MSFT',300)]

In [2]:
#a for loop to print the content of the list
for items in stock_prices:
    print(items)

('APPL', 200)
('GOOG', 100)
('MSFT', 300)

In [3]:
#a for loop to unpack the tuple
for c_name,price in stock_prices:
    print(c_name)

APPL
GOOG
MSFT

In [4]:
for c_name,price in stock_prices:
    print(price)

200
100
300

In [5]:
#we can also print calculated values 
for c_name,price in stock_prices:
    print(price+(0.2*price))

240.0
120.0
360.0

In [6]:
#the above loops can be all done in a function along with tuple unpacking
#eg: we are writing a program to check the employee of the month 
#by checking the person who has the most working hours

#here, I am initially declaring a list of tuples
work_hours = [('Alpha',200),('Beta',400),('Charlie',450),('Delta',390)]

In [12]:
def emp_of_month(work_hours):
    emp_name= ''
    max_workhrs= 0
    
    for name,hours in work_hours:
        if hours>max_workhrs:
            emp_name=name
            max_workhrs=hours
        else:
            pass
    return (emp_name,max_workhrs)

In [13]:
emp_of_month(work_hours)

('Charlie', 450)

In [14]:
#saving the rsult in a seperate variable
result= emp_of_month(work_hours)

In [15]:
result

('Charlie', 450)

In [16]:
#to unpack the tuple we can do the following
E_name,W_hours=result

In [17]:
E_name

'Charlie'

In [18]:
W_hours

450