WarmUp Section

LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd

In [1]:
def lesser_of_two_evens(a,b):
    #Condition when both numbers are even
    if a%2==0 and b%2==0:
        if a>b:
            return b
        else:
            return a
    #Condition when either one of them is even
    else:
        if a>b:
            return a
        else:
            return b

In [2]:
lesser_of_two_evens(2,4)

2

In [3]:
lesser_of_two_evens(2,5)

5

In [4]:
lesser_of_two_evens(9,5)

9

In [9]:
#A cleaner way of the above program would be by using the min and max function
def lesser_of_two_evens(a,b):
    #Condition when both numbers are even
    if a%2==0 and b%2==0:
        return min(a,b)
    #Condition when either one of them is even
    else:
        return max(a,b)

In [6]:
lesser_of_two_evens(2,4)

2

In [7]:
lesser_of_two_evens(7,4)

7

In [8]:
lesser_of_two_evens(9,3)

9

ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter

In [13]:
 def animal_crackers(text):
        wordlist = text.split()
        
        firstword = wordlist[0]
        secondword = wordlist[1]
        
        if firstword[0] == secondword[0]:
            return True
        else:
            return False

In [14]:
animal_crackers('Levelheaded Llama')

True

In [15]:
animal_crackers('Crazy Kangaroo')

False

In [17]:
#A much efficient manner of the above code would be
def animal_crackers(text):
    wordlist = text.split()
    #here, we are using double index call
    if wordlist[0][0] == wordlist[1][0]:
        return True
    else:
        return False

In [18]:
animal_crackers('Levelheaded Llama')

True

In [19]:
animal_crackers('Crazy Kangaroo')

False

In [22]:
#another efficient manner would be
def animal_crackers(text):
    wordlist = text.split()
    #here, we are using double index call with just return statement
    return wordlist[0][0] == wordlist[1][0]

In [23]:
animal_crackers('Levelheaded Llama')

True

In [24]:
animal_crackers('Crazy Kangaroo')

False

In [25]:
#now, what if the either of the first letters is lowercase?
animal_crackers('Levelheaded llama')

False

In [26]:
#it is returning false 
#to solve this problem we can do the following
def animal_crackers(text):
    #here, we are combining two tags
    wordlist = text.lower().split()
    #here, we are using double index call with just return statement
    return wordlist[0][0] == wordlist[1][0]

In [27]:
#now lets check the above condition again
animal_crackers('Levelheaded llama')

True

MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False

In [28]:
def makes_twenty(a,b):
    if a+b==20 or ((a or b) ==20):
        return True
    else:
        return False

In [29]:
makes_twenty(20,10)

True

In [30]:
makes_twenty(12,8)

True

In [31]:
makes_twenty(3,2)

False

In [32]:
#another efficient way is as follows
def makes_twenty(a,b):
    return a+b==20 or ((a or b) ==20)

In [33]:
makes_twenty(20,10)

True

In [34]:
makes_twenty(12,8)

True

In [35]:
makes_twenty(3,2)

False

Level One

OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name

In [53]:
def old_macdonald(name):
    new_word = name.split()

    first = new_word[0]
    inbetween = new_word[0][1:3]
    second = new_word[1]
    rest = new_word[1][1:]
    
    O = first[0].upper()
    M = second[0].upper()
    
    return (O + inbetween + M + rest)

In [57]:
old_macdonald('old macdonald')

'OldMacdonald'

In [60]:
#However the above is not the output we want we will keep the above program as it is
#as we have used a new logic with a new output which works

def old_macdonald(name):
    
    first_letter = name[0]
    inbetween = name[1:3]
    fourth_letter = name[3]
    rest = name[4:]
    
    return first_letter.upper() + inbetween + fourth_letter.upper() + rest

In [61]:
old_macdonald('macdonald')

'MacDonald'

In [64]:
#another way is by using capitalize method
def old_macdonald(name):
    first_halve = name[:3]
    second_halve = name[3:]
    
    return first_halve.capitalize() + second_halve.capitalize()

In [65]:
old_macdonald('macdonald')

'MacDonald'

MASTER YODA: Given a sentence, return a sentence with the words reversed

In [68]:
#a code for underatanding purpose
text = 'I am home'
split_words = text.split()
new_text = split_words[::-1]  
print (new_text)

['home', 'am', 'I']

In [75]:
def master_yoda(text):
    split_words = text.split()
    new_sentence = split_words[::-1]
    
    return (new_sentence)

In [76]:
master_yoda('I am in Indian Navy')

['Navy', 'Indian', 'in', 'am', 'I']

In [72]:
#here we need to return a string and not a list 
#we will use .join method

example = ['a','b','c']
' '.join(example)
#notice the output, it is returning the list 
#in the form of a new string with space in between

'a b c'

In [77]:
#so now the program would be
def master_yoda(text):
    split_words = text.split()
    new_sentence = split_words[::-1]
    
    return ' '.join(new_sentence)

In [78]:
master_yoda('I am home')

'home am I'

ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

In [80]:
def almost_there(n):
    
    return (abs(100-n) <= 10) or (abs(200-n) <= 10)

In [85]:
almost_there(90)

True

almost_there(104)

In [83]:
almost_there(150)

False

In [84]:
almost_there(209)

True

Level Two

FIND 33:
Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

In [108]:
def has_33(nums):
      for i in range(0,len(nums)-1):
            if nums[i] == 3 and nums[i+1] == 3:
                return True
            
      return False

In [109]:
has_33([1,2,4,6,3,2,3])

False

In [115]:
#another approach to the same program would be as follows
def has_33(nums):
      for i in range(0,len(nums)-1):
            if nums[i:i+2] == [3,3]:
                return True
            
      return False

In [116]:
has_33([3,3,4,6,3,3])

True

PAPER DOLL: Given a string, return a string where for every character in the original there are three characters

In [117]:
def paper_doll(text):
    result = ''
    
    for i in text:
        result += i*3
    return result

In [118]:
paper_doll('malayalam')

'mmmaaalllaaayyyaaalllaaammm'

BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'

In [150]:
def blackjack(a,b,c):
    sum = a+b+c
    if sum <=21:
        return sum
    elif 11 in [a,b,c] or sum >21:
        new_sum = sum-10
        print(new_sum)
        if new_sum >21:
             return 'BUST'

In [124]:
blackjack(5,6,7)

18

In [152]:
blackjack(14,9,11)

24

'BUST'

In [153]:
blackjack(9,9,9)

17

In [159]:
#the above program works but the program is not what is expected
def blackjack(a,b,c):
    
    if sum([a,b,c]) <=21:
        return sum([a,b,c])
    elif 11 in [a,b,c] and sum([a,b,c]) <= 31:
        return sum([a,b,c])-10
    else:
        return 'BUST'

In [160]:
blackjack(5,6,7)

18

In [161]:
blackjack(14,9,11)

'BUST'

In [162]:
blackjack(9,9,11)

19

In [163]:
blackjack(9,9,9)

'BUST'

SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.

In [2]:
def summer_69(arr):
    total = 0
    add = True
    
    for num in arr:
        while add:
            if num != 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total

In [3]:
summer_69([1,3,5])

9

In [4]:
summer_69([1,3,5,6,7,8,9])

9

In [5]:
summer_69([1,3,5, 6,9,11])

20

Challenge Problems

SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

In [10]:
def spy_game(nums):
    code = [0,0,7,'x']
    for i in nums:
        if i == code[0]:
            code.pop(0)
    return len(code) == 1

In [11]:
spy_game([1,2,4,0,0,7,5])

True

In [12]:
spy_game([1,0,2,4,0,5,7])

True

In [13]:
spy_game([1,7,2,0,4,5,0])

False

COUNT PRIMES: Write a function that returns the number of prime numbers that exist up to and including a given number

In [17]:
def count_primes(num):
    
    #check for 0 or 1 input
    if num < 2:
        return 0
    ######################
    # 2 or gretaer number
    ######################
    
    #Store our prime numbers
    primes = [2]
    #Counter going up to the input num
    x = 3
    
    # x is going through every number ip to the input num
    while x <= num:
        #Check if x is prime
        for y in range(3,x,2):
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)

In [19]:
#A unique thing in Python is that we canuse a else statement in for loop 
#Check out the indentation of the for loop and the else statement above

In [21]:
count_primes(200)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199]

46

PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter

In [22]:
def print_def(letter):
    #we will do this later

SyntaxError: unexpected EOF while parsing (<ipython-input-22-fd11fb4e7585>, line 2)