
LIST in Python : 
They store objects in Ordered sequence

In [1]:
 my_list = [1,2,3]

In [2]:
#pyhton list can hold data of any type together
my_list = ["String",100,23.2]

In [3]:
len(my_list)

3

In [1]:
#slicing and indexing can also be done on list just like in string data type
my_list = ['one','two','three']
print (my_list[0])
print (my_list[1:])
#we can also concatenate
another_list = ['four','five']
new_list = my_list + another_list
new_list

one
['two', 'three']

['one', 'two', 'three', 'four', 'five']

In [2]:
#You can also mutate or change the already present elements in the list
new_list[0] = 'ONE-ONE'
new_list

['ONE-ONE', 'two', 'three', 'four', 'five']

In [8]:
#adding an element at the end of the list
new_list.append('six')
#here I have ran the append function thrice that's why the list is having 3 'six'
new_list

['ONE-ONE', 'two', 'three', 'four', 'five', 'seven', 'six', 'six', 'six']

In [9]:
#pop will help you to remove elements from the end of the list
new_list.pop()

'six'

In [10]:
new_list

['ONE-ONE', 'two', 'three', 'four', 'five', 'seven', 'six', 'six']

In [11]:
popped_item = new_list.pop()

In [12]:
popped_item

'six'

In [13]:
#to pop items from a specific index position in the list
new_list.pop(0)
new_list

['two', 'three', 'four', 'five', 'seven', 'six']


SORT and REVERSE Methods of LIST

In [23]:
new_list = ['a','v','x','s','p']
num_list = [20,12,28,98,97]

In [24]:
new_list.sort()
new_list

['a', 'p', 's', 'v', 'x']

In [27]:
num_list.sort()

In [28]:
num_list

[12, 20, 28, 97, 98]

In [30]:
#to assign a sort value to a new varaible use the following approach
new_num_list = num_list
new_num_list

[12, 20, 28, 97, 98]

In [33]:
#reverse will actually reverse the order 
num_list.reverse()

In [32]:
num_list

[98, 97, 28, 20, 12]



----------------------------------------------------------------------------------------------------------------------------------------
DICTIONARIES in Python : 
Dictionaries use the key-value pairing instead. Dictionaries use curly braces and colons to signify the keys and their associated values. eg : {'key1':'value1','key2':'value2'}

 WHEN TO USE LIST AND DICTIONARY?? 
 
DICTIONARIES ARE UNORDERED AND CANNOT BE SORTED. WE CAN USE IT WHEN WE WANT A KEY VALUE PAIR WITHOUT KNOWING THE EXACT LOCATION.....LIST ON THE OTHER HAND CAN BE SORTED AND IT ALSO CAN BE INDEXED

In [34]:
my_dict = {'key1':'value1','key2':'value2'}

In [35]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [36]:
#If you want a specific value,instead of the index we use keys
my_dict['key1']

'value1'

In [38]:
#another example
price_lookup = {'apple':50,'Oranges':40,'Milk':25}

In [39]:
price_lookup['apple']

50

In [2]:
#Dictionaries can actually hold lists and dictionaries itself within it
d = {'k1':123,'k2':[0,1,2],'k3':{'insideKey':100}}

In [3]:
d['k2']

[0, 1, 2]

In [4]:
d['k3']

{'insideKey': 100}

In [5]:
d['k3']['insideKey']

100

In [6]:
d['k2'][2]

2

In [8]:
#Another example
s = {'key1':['a','b','c']}

In [10]:
#If you want to change c into upper case
#Long Procedure
s['key1']

['a', 'b', 'c']

In [11]:
new = s['key1']

In [12]:
new

['a', 'b', 'c']

In [13]:
#we will slice it now
new[2]

'c'

In [14]:
new1 = new[2]

In [15]:
new1

'c'

In [16]:
new2 = new1.upper()
new2

'C'

In [17]:
#Short Way
s['key1'][2].upper()

'C'

In [1]:
#adding a new key value pair to the dictonary
d2 = {'k1':'a','k2':'b'}

In [19]:
d2

{'k1': 'a', 'k2': 'b'}

In [20]:
d2['k3'] = 'c'

In [21]:
d2

{'k1': 'a', 'k2': 'b', 'k3': 'c'}

In [22]:
#We can also overright in the dictonary
d2['k1'] = 'z'

In [23]:
d2

{'k1': 'z', 'k2': 'b', 'k3': 'c'}

In [27]:
#to get all the keys
d2.keys()

dict_keys(['k1', 'k2', 'k3'])

In [26]:
#to get all the values
d2.values()

dict_values(['z', 'b', 'c'])

In [28]:
#to get all the items i.e the key values pairs
d2.items()

dict_items([('k1', 'z'), ('k2', 'b'), ('k3', 'c')])

TUPLES : similar to List BUT they are Immutable. They use parenthesis (1,2,3)

In [29]:
t = (1,2,3)

In [30]:
mylist = [1,2,3]

In [31]:
type(t)

tuple

In [32]:
type(mylist)

list

In [33]:
len(t)

3

In [34]:
t

(1, 2, 3)

In [35]:
t = ('one',2)

In [36]:
t

('one', 2)

In [3]:
#We can use slicing in tuple as well just like list 
t = ('one','two','three','four','five')

In [38]:
t[2:]

('three', 'four', 'five')

In [60]:
#There are only 2 methods in a tuple index() and count()
t.count('one')
#count() gives how many times the specified value in the braces occur

1

In [43]:
t1 = ('a','a','s')

In [44]:
t1.count('a')

2

In [59]:
#index() method of a tuple gives the very first occurence of the specified value
t1.index('a')

0

    WHAT MAKES A TUPLE DIFFERENT THAN LIST : ITS IMMUTABILITY

In [48]:
#tuple
t

('one', 'two', 'three', 'four', 'five')

In [49]:
#list
mylist

[1, 2, 3]

In [50]:
mylist[0] = 'one'

In [51]:
mylist

['one', 2, 3]

In [53]:
#BUT IN CASE OF TUPLE - IT GIVES AN ERROR
t[0] = 'a'

TypeError: 'tuple' object does not support item assignment

    BASIC DIFFERENCE BETWEEN THE THREE : LIST vs DICTIONARY vs TUPLE

In [55]:
#LIST DECLARATION - [] - SQUARE BRACES
l = ['one','two','three']

In [56]:
#DICTIONARY DECLARATION - {} - CURLY BRACES
d = {'key1':'one','key2':2,'key3':3.14}

In [58]:
#TUPLE DECLARATION - () - CURVE BRACES
t = ('one','two','three')