Imutability :
In python there are two types of objects i.e. Mutable and Immutable objects.
Whenever an object is instantiated, it is assigned a unique object id. The type of the object is defined at the runtime and it can’t be changed afterwards. However, it’s STATE CAN BE CHANGED if it is a mutable object.

Immutable Objects : These are of in-built types like int, float, bool, string, unicode, tuple. In simple words, an immutable object can’t be changed after it is created.

Mutable Objects : These are of type list, dict, set . Custom classes are generally mutable.

In [1]:
name = 'Sam'

In [4]:
#name[0] = 'P' -- Wont work -- gives error

If you want to change the first letter of the name then the above code wont work

In [2]:
last_letter = name[1:]

In [3]:
last_letter

'am'

In [4]:
'P' + last_letter

'Pam'

In just 1 line you changed the name ---- By String Concatenation

In [ ]:
x ='Hello Anand'

The below output is because I had erlier written -- x = x + 'Text' -- and it wasnt runing but when I removed the first x it worked.

In [10]:
x + ' You are an Officer of The Indian Army'

'Hello Anand You are an Officer of The Indian Army You are an Officer of The Indian Army You are an Officer of The Indian Army You are an Officer of The Indian Army You are an Officer of The Indian Army'

In [11]:
letter = 'z'

In [14]:
#This is string multiplication
letter * 10

'zzzzzzzzzz'

In [15]:
2 + 3

5

In [16]:
'2' + '3'

'23'

In the above cell you can see you cannot add 2 strings .... you get 23 i.e concatenation

In [1]:
x = "Hello World"

In [6]:
#if you declare a variable and in the nextline if you type x i.e the variable name
#and then press fullstop and then hit tab you will get a number of string funtions options.
#try it out once (if it does not work then initially run the above line and then try)
x.upper()
#dont forget the brackets after the funtion

'HELLO WORLD'

In [5]:
x

'Hello World'

In [23]:
x.lower()

'hello world'

In [24]:
x.split()

['Hello', 'World']

In [1]:
x = 'Hi this is a string'
x.split()

['Hi', 'this', 'is', 'a', 'string']

In [2]:
x.split('i')
#here it removed all the letter i from the whole string

['H', ' th', 's ', 's a str', 'ng']

Formatting with the .format() method : 
A good way to format objects into your strings for statements is with the string.format() method. 

The syntax :
'String here {} then also {}'.format('Something1','Something2')

In [2]:
print("This is a string {}".format('INSERTED'))

This is a string INSERTED

In [7]:
print ('{} {} {}'.format('Shambhavi','loves','Anand'))

Shambhavi loves Anand

In [9]:
print ('This is a {} {} {}'.format('fox','brown','quick'))
# We can also change the position 
print ('This is a {2} {1} {0}'.format('fox','brown','quick'))
#We can also repeat 
print ('This is a {0} {0} {0}'.format('fox','brown','quick'))
#We can assign a variable as well
print ('This is a {q} {b} {f}'.format(f='fox',b='brown',q='quick'))

This is a fox brown quick
This is a quick brown fox
This is a fox fox fox
This is a quick brown fox

 Float formatting with .fromat() method

In [8]:
result = 100/777

In [9]:
result

0.1287001287001287

In [16]:
print ('The result was {r:1.2f}'.format(r=result))
#here we can actually format the result by changing the size of decimal places
#here 1 indicates the white space (try replacing 1 by 30 -> to understand well)
#.5f/.2f indicates the decimal value(try replacing .2f with .5f)

The result was 0.13

In [21]:
result = 104.12345
print ('The result is {r}'.format(r=result))

The result is 104.12345

In [13]:
name = 'Shambhavi'

In [12]:
print ('Hi {}'.format(name))
#we can also replace the .format() method by f; known as the 'f string literals'
print (f'Hellooo {name}') # this is a recent update in python version
print ('Kai kartiyessss')

Hi Shambhavi
Hellooo Shambhavi
Kai kartiyessss

In [30]:
name = 'Shambhavi'
breed = 'Labrodor'
print (f'{name} loves {breed}')

Shambhavi loves Labrodor

In [26]:
number=9049354058

In [27]:
number

9049354058

In [28]:
number=100
number

100

In [29]:
number="AV"
number

'AV'